@model Domus.Models.Particular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de: @($"{Model.Apellido} {Model.Nombre}")</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.CUIL)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CUIL)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha De Nacimiento
        </dt>
        <dd class = "col-sm-1">
            @Html.DisplayFor(model => model.FechaDeNacimiento)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.NroCuenta)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.NroCuenta)
        </dd>
    </dl>
</div>


<div class="d-inline-flex align-align-items-center">
    <a asp-action="Index" class="d-inline-flex align-align-items-center me-3">
        <i class="fas fa-arrow-left fa-2x"></i><span class="ms-1"> Volver </span>
    </a> | 
    <a asp-action="Edit" asp-route-id="@Model.IdCliente" name="@(Model.IdCliente)Edit">
                                <i class="fas fa-edit fa-lg m-2" style="color: #00bcd4; cursor: pointer;"></i>
                            </a>
</div>
