@model IEnumerable<Domus.Models.Particular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes Particulares</h1>

<a asp-action="Create" class="btn btn-primary" id="Create">Nuevo Cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroCuenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroCuenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente" name="@(item.IdCliente)Edit">
                                <i class="fas fa-edit fa-lg m-2" style="color: #00bcd4; cursor: pointer;"></i>
                            </a> |
                            <a asp-action="Details" asp-route-id="@item.IdCliente" name="@(item.IdCliente)Details">
                                <i class="fas fa-list fa-lg m-2" style="color: #494f54; cursor: pointer;"></i>
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.IdCliente" name="@(item.IdCliente)Delete">
                                <i class="fas fa-trash fa-lg m-2" style="color: #f44336; cursor: pointer;"></i>
                            </a>
            </td>
        </tr>
}
    </tbody>
</table>
